In [49]:
# Importing python libraries for data preprocessing
import pandas as pd
import re

#Load the dataset into pandas DataFrame
df = pd.read_excel('Assessment.xlsx')

# Viewing the DataFrame
df

    ID                           Company Name
0    1                            "Microsoft"
1    2                              Open A.I.
2    3                               AT and T
3    4                             OpenAI LLC
4    5                               #Open.AI
5    6                                 Google
6    7                        Hewlett-Packard
7    8  Advanced Micro Devices Incorporation.
8    9                             Google Inc
9   10                                   AT&T
10  11                               Alphabet
11  12                                    NaN
12  13                                  Gogle
13  14                                 OpenAI
14  15                                    amd
15  16                                Open_AI
16  17                             Micro Soft
17  18                                 AT & T
18  19                  Microsoft Corporation
19  20                                  01AMD
20  21                            AMD Class A
21  22                                 Googel
22  23                                    IBM
23  24                            AMD Class B
24  25        International Business Machines
25  26                                     HP
26  27                            OpenAI Inc.
27  28                                 A.M.D.

In [50]:
# Importing warnings
import warnings

# Ignore warnings in any function
warnings.filterwarnings('ignore')

In [51]:
# To view unique entries in Company Names
df['Company Name'].unique()

array(['"Microsoft"', 'Open A.I.', 'AT and T', 'OpenAI LLC', '#Open.AI',
       'Google', 'Hewlett-Packard',
       'Advanced Micro Devices Incorporation.', 'Google Inc', 'AT&T',
       'Alphabet', nan, 'Gogle', 'OpenAI', 'amd', 'Open_AI', 'Micro Soft',
       'AT & T', 'Microsoft Corporation', '01AMD', 'AMD Class A',
       'Googel', 'IBM', 'AMD Class B', 'International Business Machines',
       'HP', 'OpenAI Inc.', 'A.M.D.'], dtype=object)

In [52]:
# To check for null values
df.isna().sum()

ID              0
Company Name    1
dtype: int64

In [53]:
# Drop rows with null values
df = df.dropna()

In [54]:
# Renumbering the ID column since I dropped null values
df['ID'] = range(1, len(df) + 1)

In [55]:
# creating a new column from the Company Name to clean and normalize company names by coverting to lower case, removing white spaces and other inconsistencies
df['Company Name_clean'] = df['Company Name'].str.strip().str.lower()
df['Company Name_clean'] = df['Company Name_clean'].apply(lambda x: re.sub(r'[^a-zA-Z0-9\s]', '', x))

# To view the cleaned data
df

,ID,Company Name,Company Name_clean
0,1,"""Microsoft""",microsoft
1,2,Open A.I.,open ai
2,3,AT and T,at and t
3,4,OpenAI LLC,openai llc
4,5,#Open.AI,openai
5,6,Google,google
6,7,Hewlett-Packard,hewlettpackard
7,8,Advanced Micro Devices Incorporation.,advanced micro devices incorporation
8,9,Google Inc,google inc
9,10,AT&T,att
10,11,Alphabet,alphabet
12,12,Gogle,gogle
13,13,OpenAI,openai
14,14,amd,amd
15,15,Open_AI,openai
16,16,Micro Soft,micro soft
17,17,AT & T,at t
18,18,Microsoft Corporation,microsoft corporation
19,19,01AMD,01amd
20,20,AMD Class A,amd class a
21,21,Googel,googel
22,22,IBM,ibm
23,23,AMD Class B,amd class b
24,24,International Business Machines,international business machines
25,25,HP,hp
26,26,OpenAI Inc.,openai inc
27,27,A.M.D.,amd

In [56]:
# Standardizing known Company Names
standard_names = {
    'microsoft corporation': 'microsoft',
    'micro soft': 'microsoft',
    'at  t': 'at&t',
    'att': 'at&t',
    'at and t': 'at&t',
    'google inc': 'google',
    'gogle': 'google',
    'googel': 'google',
    'openai llc': 'openai',
    'openai': 'openai',
    'open ai': 'openai',
    'openai inc': 'openai',
    'amd class a': 'amd',
    'amd class b': 'amd',
    'advanced micro devices incorporation': 'amd',
    '01amd': 'amd',
    'amd': 'amd',
    'hewlettpackard': 'hp',
    'international business machines': 'ibm'
}

# Replacing the company names with the standard names
df['Company Name_clean'] = df['Company Name_clean'].replace(standard_names)
df

    ID                           Company Name Company Name_clean
0    1                            "Microsoft"          microsoft
1    2                              Open A.I.             openai
2    3                               AT and T               at&t
3    4                             OpenAI LLC             openai
4    5                               #Open.AI             openai
5    6                                 Google             google
6    7                        Hewlett-Packard                 hp
7    8  Advanced Micro Devices Incorporation.                amd
8    9                             Google Inc             google
9   10                                   AT&T               at&t
10  11                               Alphabet           alphabet
12  12                                  Gogle             google
13  13                                 OpenAI             openai
14  14                                    amd                amd
15  15                                Open_AI             openai
16  16                             Micro Soft          microsoft
17  17                                 AT & T               at&t
18  18                  Microsoft Corporation          microsoft
19  19                                  01AMD                amd
20  20                            AMD Class A                amd
21  21                                 Googel             google
22  22                                    IBM                ibm
23  23                            AMD Class B                amd
24  24        International Business Machines                ibm
25  25                                     HP                 hp
26  26                            OpenAI Inc.             openai
27  27                                 A.M.D.                amd

In [57]:
# Assigning unique ID to each group of similar names
unique_ids = {name: idx+1 for idx, name in enumerate(df['Company Name_clean'].unique())}
df['Group ID'] = df['Company Name_clean'].map(unique_ids)

# Ensure each original company name maps to its group representative and group ID
df['Groups'] = df['Company Name_clean']
# viewing the updated dataframe
df

,ID,Company Name,Company Name_clean,Group ID,Groups
0,1,"""Microsoft""",microsoft,1,microsoft
1,2,Open A.I.,openai,2,openai
2,3,AT and T,at&t,3,at&t
3,4,OpenAI LLC,openai,2,openai
4,5,#Open.AI,openai,2,openai
5,6,Google,google,4,google
6,7,Hewlett-Packard,hp,5,hp
7,8,Advanced Micro Devices Incorporation.,amd,6,amd
8,9,Google Inc,google,4,google
9,10,AT&T,at&t,3,at&t
10,11,Alphabet,alphabet,7,alphabet
12,12,Gogle,google,4,google
13,13,OpenAI,openai,2,openai
14,14,amd,amd,6,amd
15,15,Open_AI,openai,2,openai
16,16,Micro Soft,microsoft,1,microsoft
17,17,AT & T,at&t,3,at&t
18,18,Microsoft Corporation,microsoft,1,microsoft
19,19,01AMD,amd,6,amd
20,20,AMD Class A,amd,6,amd
21,21,Googel,google,4,google
22,22,IBM,ibm,8,ibm
23,23,AMD Class B,amd,6,amd
24,24,International Business Machines,ibm,8,ibm
25,25,HP,hp,5,hp
26,26,OpenAI Inc.,openai,2,openai
27,27,A.M.D.,amd,6,amd

In [58]:
df['Groups'].unique()

array(['microsoft', 'openai', 'at&t', 'google', 'hp', 'amd', 'alphabet',
       'ibm'], dtype=object)

In [59]:
df['Groups'].value_counts()

Groups
openai       6
amd          6
google       4
microsoft    3
at&t         3
hp           2
ibm          2
alphabet     1
Name: count, dtype: int64

In [60]:
df['Group ID'].value_counts()

Group ID
2    6
6    6
4    4
1    3
3    3
5    2
8    2
7    1
Name: count, dtype: int64

In [61]:
df.columns

Index(['ID', 'Company Name', 'Company Name_clean', 'Group ID', 'Groups'], dtype='object')

In [62]:
# Coverting Company Names TO their Standard Names
name_mapping = {
    'microsoft': 'Microsoft',
    'openai': 'OpenAI',
    'at&t': 'AT&T',
    'google': 'Google',
    'hp': 'HP',
    'amd': 'AMD',
    'alphabet': 'Alphabet',
    'ibm': 'IBM'
}

# Standardizing the column in the DataFrame
df['Groups'] = df['Groups'].map(name_mapping)

# view the updated DataFrame
df

,ID,Company Name,Company Name_clean,Group ID,Groups
0,1,"""Microsoft""",microsoft,1,Microsoft
1,2,Open A.I.,openai,2,OpenAI
2,3,AT and T,at&t,3,AT&T
3,4,OpenAI LLC,openai,2,OpenAI
4,5,#Open.AI,openai,2,OpenAI
5,6,Google,google,4,Google
6,7,Hewlett-Packard,hp,5,HP
7,8,Advanced Micro Devices Incorporation.,amd,6,AMD
8,9,Google Inc,google,4,Google
9,10,AT&T,at&t,3,AT&T
10,11,Alphabet,alphabet,7,Alphabet
12,12,Gogle,google,4,Google
13,13,OpenAI,openai,2,OpenAI
14,14,amd,amd,6,AMD
15,15,Open_AI,openai,2,OpenAI
16,16,Micro Soft,microsoft,1,Microsoft
17,17,AT & T,at&t,3,AT&T
18,18,Microsoft Corporation,microsoft,1,Microsoft
19,19,01AMD,amd,6,AMD
20,20,AMD Class A,amd,6,AMD
21,21,Googel,google,4,Google
22,22,IBM,ibm,8,IBM
23,23,AMD Class B,amd,6,AMD
24,24,International Business Machines,ibm,8,IBM
25,25,HP,hp,5,HP
26,26,OpenAI Inc.,openai,2,OpenAI
27,27,A.M.D.,amd,6,AMD

In [63]:
# Drop the duplicated company name used for cleaning
df.drop(columns=['Company Name_clean'], inplace=True)

# View Final Output
df

    ID                           Company Name  Group ID     Groups
0    1                            "Microsoft"         1  Microsoft
1    2                              Open A.I.         2     OpenAI
2    3                               AT and T         3       AT&T
3    4                             OpenAI LLC         2     OpenAI
4    5                               #Open.AI         2     OpenAI
5    6                                 Google         4     Google
6    7                        Hewlett-Packard         5         HP
7    8  Advanced Micro Devices Incorporation.         6        AMD
8    9                             Google Inc         4     Google
9   10                                   AT&T         3       AT&T
10  11                               Alphabet         7   Alphabet
12  12                                  Gogle         4     Google
13  13                                 OpenAI         2     OpenAI
14  14                                    amd         6        AMD
15  15                                Open_AI         2     OpenAI
16  16                             Micro Soft         1  Microsoft
17  17                                 AT & T         3       AT&T
18  18                  Microsoft Corporation         1  Microsoft
19  19                                  01AMD         6        AMD
20  20                            AMD Class A         6        AMD
21  21                                 Googel         4     Google
22  22                                    IBM         8        IBM
23  23                            AMD Class B         6        AMD
24  24        International Business Machines         8        IBM
25  25                                     HP         5         HP
26  26                            OpenAI Inc.         2     OpenAI
27  27                                 A.M.D.         6        AMD

In [64]:
# Save the final output to Excel File
df.to_excel('Assessment_Clean_Dataset.xlsx', index =False)